@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 200;
    
    background-color: #FAFAFA;
}
.top-text{
    width: 500px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.title{
    font-size: 36px;
    color: #8E8D93;
    line-height: 48px;
}
.bold{
    font-weight: 600;
    color: #4D4E60;
}
.top-desc{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #AAAAAC;
}
.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.card{
    position: relative;
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 8px 8px 8px #f1f0f0;
    background-color: #fff;
}
.card:not(:last-child){
    margin-right: 30px;
}
.supervisor .card-text::after{
    content: "";
    background: url('../images/icon-supervisor.svg') no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.team .card-text::after{
    content: "";
    background: url('../images/icon-team-builder.svg') no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.karma .card-text::after{
    content: "";
    background: url('../images/icon-karma.svg') no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.calculator .card-text::after{
    content: "";
    background: url('../images/icon-calculator.svg') no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.card-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.card-text{
    font-weight: 400;
    line-height: 24px;
    color: #ADACB1;
}
.supervisor{
    border-top: 4px solid #5FC5C7;
}
.team{
    margin-bottom: 30px;
    border-top: 4px solid hsl(0, 78%, 62%);
}
.karma{
    border-top: 4px solid hsl(34, 97%, 64%);
}
.calculator{
    border-top: 4px solid hsl(212, 86%, 64%);
}